= link_to "导入CSV文件", select_csv_of_admin_profiles_path, class: "list-group-item"
= link_to "查看所有Profile", admin_profiles_path, class: "list-group-item"
a.list-group-item href="#" 其他功能
a.list-group-item href="#" 其他功能
a.list-group-item href="#" 其他功能
a.list-group-item href="#" 其他功能